<h2>Productos</h2>
<p>
    <span>Nombre:</span>
    <input type="text" [(ngModel)]="producto.nombre">
</p>
<p>
    <span>Marca:</span>
    <input type="text" [(ngModel)]="producto.marca">
</p>
<p>
    <span>Código:</span>
    <input type="text" [(ngModel)]="producto.codigo">
</p>
<p>
    <span>Categoria:</span>
    <select name="" id="" [(ngModel)]="producto.categoria">
        <option *ngFor="let grupo of grupos" value="{{ grupo.id }}">{{ grupo.nombre }}</option>
    </select>
</p>
<p>
    <button (click)="this.nuevoCliente()">Guardar</button>
</p>
<app-listado-clientes></app-listado-clientes>
