.btn {
    background-color: #FF3D67;
    color: black;
    border-color: black;
}
.imagenes{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.container{
    width: 100%;
    height: 130vh;
}