<h1 class="titulo">Bienvenido a Beauty Pink!</h1>
<div class="slider-frame">
    <ul>
        <li><img src="assets/img/slider1.jpg" alt=""></li>
        <li><img src="assets/img/slider2.jpg" alt=""></li>
        <li><img src="assets/img/slider3.jpg" alt=""></li>
        <li><img src="assets/img/slider4.jpg" alt=""></li>
    </ul>
</div>

<div>
  <h4 class="titulo">¡Aprovecha nuestros descuentos!</h4>
  <img src="assets/img/banner-descuento.png" class="img-fluid ml-auto p-2" alt="..." >
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th><img src="assets/img/2.png" class="img-fluid ml-auto p-2" alt="..." width="500" height="500"></th>
            <th><img src="assets/img/3.png" class="img-fluid ml-auto p-2" alt="..." width="500" height="500"></th>
            <th><img src="assets/img/4.png" class="img-fluid ml-auto p-2" alt="..." width="500" height="500"></th>
            <th><img src="assets/img/5.png" class="img-fluid ml-auto p-2" alt="..." width="500" height="500"></th>
            <th><img src="assets/img/6.png" class="img-fluid ml-auto p-2" alt="..." width="500" height="500"></th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bases en polvo</td>
        <td>Delineadores líquidos</td>
        <td>Labiales mate</td>
        <td>Pestañinas a prueba de agua</td>
        <td>Protector solar con color</td>
      </tr>
      <tr>
        <td>Bases mate</td>
        <td>Delineadores en plumón</td>
        <td>Labiales mate</td>
        <td>Pestañinas lavables</td>
        <td>Protector solar en gel</td>
      </tr>
      <tr>
        <td>Bases en crema</td>
        <td>Delineadores a prueba de agua</td>
        <td>Labiales nude</td>
        <td>Polvos traslúcidos</td>
        <td>Protector solar facial</td> 
      </tr>
      <tr>
        <td>Bases líquidas</td>
        <td>Delineadores en gel</td>
        <td>Labiales líquidos</td>
        <td>Polvos compactos</td>
        <td>Bronceadores en crema</td> 
      </tr>
      <tr>
        <td>Bases líquidas</td>
        <td>Iluminadores Líquidos</td>
        <td>Labiales en barra</td>
        <td>Polvos sueltos</td>
        <td>Bronceadores en spray</td> 
      </tr>
    </tbody>
  </table>