.beauty {
    background: linear-gradient(45deg, #fdb2c2, #e5b2fd, #b2fdda, #f8fdb2 );
    background-size: 400% 400%;
    animation: change 5s ease infinite;
}

@keyframes change {
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

.bi-person-hearts {
    font-size: 25px;
    color:rgb(70, 70, 70)
}

.bi-bag-heart-fill {
    font-size: 25px;
    color:rgb(70, 70, 70)
}

.bi-search-heart {
    font-size: 20px;
    color:rgb(109, 109, 109)
}

h1 {
    font-family: 'Cookie', cursive !important;
    font-size: 50px !important;
    color: #FF3D67;
}

.search-item{
    width: 400px !important;
}

.nav-item2 {
    font-family: 'Pangolin', cursive !important;
    font-size: 14px;
}

.menu {
    background-color: #FF3D67;
}

.dropdown-item {
    font-family: 'Pangolin', cursive !important;
}

.dropdown-item:active {
    background-color: #ff839e !important;
}